DotNet/Learning/SoapTestII/SoapTestII/Web References/WebRef/SoapWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://neptune/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://neptune/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://neptune/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldTwo">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldTwoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldTwoSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldTwo" />
  </wsdl:message>
  <wsdl:message name="HelloWorldTwoSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldTwoResponse" />
  </wsdl:message>
  <wsdl:portType name="RestWebserviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldTwo">
      <wsdl:input message="tns:HelloWorldTwoSoapIn" />
      <wsdl:output message="tns:HelloWorldTwoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestWebserviceSoap" type="tns:RestWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://neptune/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldTwo">
      <soap:operation soapAction="http://neptune/HelloWorldTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RestWebserviceSoap12" type="tns:RestWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://neptune/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldTwo">
      <soap12:operation soapAction="http://neptune/HelloWorldTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestWebservice">
    <wsdl:port name="RestWebserviceSoap" binding="tns:RestWebserviceSoap">
      <soap:address location="http://neptune:8088/SoapWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="RestWebserviceSoap12" binding="tns:RestWebserviceSoap12">
      <soap12:address location="http://neptune:8088/SoapWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>